  body {
  font-family: 'Raleway', sans-serif;
  background-color: #6aaefc;
  margin: auto;
 }

  .wrapper {
    width: 100%;
    margin:  auto;
    background-color: red;

  }

  header {
    background-color: blue;
    height: 75px;
    padding: 55px;
  }

  header h1 {
  text-transform: uppercase;
  text-align: center;
  color: black;
  line-height:20px;
 }

  header h2 {
    font-variant: small-caps;
    text-align: center;
    color: black
  }

  .main_menu {
    padding: 10px;
    text-align: center;
    line-height: 22px;
    background-color: #fff;
  }

  ul.main_menu {
    position: fixed;
   top: 0px;
   width: 100%;
    margin-top: 0px;
     border: 3px solid #0c0c0c; /* outer navigation bar border.*/
  }

  .main_menu li {
    float: left;
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 23px;
    border-right: 2px solid #0c0c0c;
  }


   .main_menu a {
    text-decoration: none;
    color: #0c0c0c;
    padding: 8px;
    font-variant: small-caps;
  }

  .main_menu a:hover {
    background-color: #0c0c0c;
  }

  .active {
    background-color: #0c0c0c;
  }

  img {
  height: 325px;
  width: 250px;
  border-radius: 100%;

  }



  h3 {
    text-align: center;
    text-decoration: underline;
    color: purple;
    width: 100%;
    margin: 0 auto;
    background-color: #0c0c0c;

 }
div.col {
    background-color: #6aaefc;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;

}
  .form {
    padding: 0.5em;
  }


}
div.image2 {
    margin: 5px;
    border: 1px solid #black;
    width: 50px;

}



div.image2:hover {
    transition: 500ms;
    transform: scale(1.1);
}

div.image2 {
  display: block;
  display: inline-block;
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 300px;
}
div.image2 img {
    width: 250px;
    height: auto;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
